DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000
DATABASE_URL=postgres://prode:prode@db:5432/prode
REDIS_URL=redis://redis:6379/0
TIME_ZONE=UTC
LANGUAGE_CODE=es-ar

SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=admin1234

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@prode.local
SERVER_EMAIL=no-reply@prode.local
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
USE_X_FORWARDED_HOST=False

# Render
PYTHON_VERSION=3.12.7
WEB_CONCURRENCY=2
